.comment {
  padding-top: 40px;
  padding-bottom: 40px;
}

.comment__article {
  font: var(--headline5);
  text-align: center;
  margin: 0 auto;
}
.comment__article p:nth-child(1) {
  font-weight: normal;
}
.comment__article p {
  margin: 0;
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .comment__article {
    max-width: 900px;
  }
  .comment {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
