.footer {
  color: var(--white);
  display: flex;
  text-align: center;
  flex-direction: column;
}

.footer__logo {
  display: none;
}

.footer .social {
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1080px;
    margin: auto;
  }
  .footer__logo {
    display: block;
  }
  .footer .social {
    order: 3;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__copyright {
    display: flex;
    gap: 8px;
  }
}
