.testimony {
  padding-top: 40px;
  padding-bottom: 40px;
}

.testimony__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.testimony__img {
  max-width: 100%;
}
.testimony__img img {
  display: block;
  max-width: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .testimony {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .testimony__description {
    flex: 1;
  }
  .testimony:nth-child(odd) .testimony__img {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
